// Colours partial

// Text colours
//$txt-primary: #4a437d; // purple
$txt-primary: #32497d;
// body font
$txt-secondary: #3D4351;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
//$accent-color: #3c763d; // green
//$accent-color: #4a437d; // dark blue/purple
//$accent-color: #337ab7; // classic blue link
$accent-color: #0000ee; // default blue link
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: $txt-primary;
$h3-color: $txt-primary;
$h5-color: $txt-primary;
// Layout colours
$section-light: #fff;
$section-dark: #f6f6f6;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;
